.pillButton {
    background-color: transparent;
    color: black;
    padding:1rem 1.75rem;
    border-radius: 999px;
    margin-right: 1rem;
    border: 2px solid black;
    display: inline-block;


}

.pillButton:hover,
.active {
    background-color: black;
    color: white;

}

.buttonWhite {
    background-color: white;
    color: black;
}