.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 10px;
    left: 0;
    z-index: 10;
}

.SideHeader {
    margin-left: 20px;
}
 